<!-- After you are finished, feel free to remove the exercise definition -->
<!-- You can find all the exercise also in the readme.md file -->
<!-- Try to play with css to make the application preaty -->

<h3 class="page-title">Exercise Easy</h3>
<div class="acc">
  <div class="container">
    <label for="chk-1">
      <input id="chk-1" type="checkbox" />
      <div class="title">
        <h3>
          Get all users with their ages, type of ages and identity and display
          it in a table
        </h3>
      </div>
      <div class="content">
        <ul class="list-group">
          <li class="list-group-item">
            The table should contain field id, name, age, ageType, identity
          </li>
          <li class="list-group-item">
            If a user doesn't have an age added, please put 'none'
          </li>
          <li class="list-group-item">
            If a user doens't have an identity added, please add by default
            IdentityEnum.Personal
          </li>
        </ul>
      </div>
    </label>

    <label for="chk-2">
      <input id="chk-2" type="checkbox" />
      <div class="title">
        <h3>Create three buttons</h3>
      </div>
      <div class="content">
        <ul class="list-group">
          <li class="list-group-item">
            First button: when click on it, sort by name
          </li>
          <li class="list-group-item">
            Second button: when click on it, sort by age
          </li>
          <li class="list-group-item">
            Third button: when click on it, display the data in the order it
            comes from the api
          </li>
        </ul>
      </div>
    </label>
  </div>
  <div class="alert alert-info" role="alert">
    Bonus points if you use shareReplay
  </div>
</div>
