<div class="container">
  <h2>Introdu un numar intre 11 si 20</h2>
  <input
    type="text"
    [(ngModel)]="search"
    (ngModelChange)="updateSearch($event)"
    placeholder="id"
  />

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nume</th>
        <th scope="col">Varsta</th>
        <th scope="col">Tip Varsta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.nume}}</td>
        <th scope="row">{{user.age}}</th>
        <td>{{user.type}}</td>
      </tr>
    </tbody>
  </table>
</div>