<!--  After is done feel free to remove the exercise definition -->
<!-- You can find all the exercise also in the readme.md file -->
<div class="hero-unit">
  <h2>Exercise hard</h2>
  <ul class="list-group">
    <li class="list-group-item">
      Get all users with their ages and display it in a table
    </li>
    <li class="list-group-item">
      Create three buttons:
      <ul class="list-group">
        <li class="list-group-item">
          First button: when click on it sort by name
        </li>
        <li class="list-group-item">
          Second button: when click on it sort by age
        </li>
        <li class="list-group-item">
          Third button: when click on it display the data in the order it comes
          from api
        </li>
      </ul>
    </li>
  </ul>
</div>
