<!-- After you are finished, feel free to remove the exercise definition -->
<!-- You can find all the exercise also in the readme.md file -->
<!-- Try to play with css to make the application preaty -->

<h3 class="page-title">Exercise hard</h3>
<div class="acc">
  <div class="container">
    <label for="chk-1">
      <input id="chk-1" type="checkbox" />
      <div class="title">
        <h3>Add an input that accepts as a value a number from 0 to 40</h3>
      </div>
      <div class="content">
        <ul class="list-group">
          <li class="list-group-item">
            If the number is not in this range, show an error : "Error: Please
            pick an user from 0 to 40"
          </li>
          <li class="list-group-item">
            If the number is in this range, check if this number exists in
            blackList, and if it doesn't, show an error: "Error: The user that
            you search can not be displayed. Insufficient permissions."
          </li>
          <li class="list-group-item">
            If the user doesn't exist in blackList, get the name and age and
            display it on the screen
          </li>
          <li class="list-group-item">
            All errors that appear on screen should remain on there for exactly
            10 sec.
          </li>
        </ul>
      </div>
    </label>
  </div>
  <div class="alert alert-info" role="alert">
    Hint: You should not request all the users and ages at once, request just
    the one you need by id
  </div>
</div>
