<!-- After is done feel free to remove the exercise definition -->
<!-- You can find all the exercise also in the readme.md file -->
<!-- Try to play also with css to make it preaty -->

<h3 class="page-title">Exercise extreme</h3>
<div class="acc">
  <div class="container">
    <label for="chk-1">
      <input id="chk-1" type="checkbox" />
      <div class="title">
        <h3>Add an input that accepts only strings</h3>
      </div>
      <div class="content">
        <ul class="list-group">
          <li class="list-group-item">
            Check if that name exist in the names of our users or that string is
            contain in the name of our users (andra exist in Sandra, Alexanda,
            Andra, etc)
          </li>
          <li class="list-group-item">
            If the string was not included in the name of the users it will
            display an error: "Error: The name is not found, Please search other
            name"
          </li>
          <li class="list-group-item">
            Otherwise if exists a user or more with that string in it we will
            search in userNotToBeShown if can be displayed
          </li>
          <li class="list-group-item">
            If the id of the user exists userNotToBeShown and if it does show an
            error: "Error: The user that you search can not be displayed.
            Insuficient permissions."
          </li>
          <li class="list-group-item">
            If the user doesn't exist in userNotToBeShown get the age and the
            age type
          </li>
          <li class="list-group-item">
            If all the condition are ok display the info gotten until now (name
            with age and id) and 2 buttons
          </li>
          <li class="list-group-item">
            First button will be "More info", and when the user clicks on it we
            will show also the age type and identity of the user/users
          </li>
          <li class="list-group-item">
            Second button will be "Clear", and all the data will be refreshed
          </li>
          <li class="list-group-item">
            All the errors when appear should remain on the screen for only 15
            sec.
          </li>
        </ul>
      </div>
    </label>
  </div>
</div>
