<!--  After is done feel free to remove the exercise definition -->
<!-- You can find all the exercise also in the readme.md file -->
<!-- Try to play also with css to make it preaty -->

<h3 class="page-title">Exercise Medium</h3>
<div class="acc">
  <div class="container">
    <label for="chk-1">
      <input id="chk-1" type="checkbox" />
      <div class="title">
        <h3>Display all users that are not in userNotToBeShown in a table</h3>
      </div>
      <div class="content">
        <ul class="list-group">
          <li class="list-group-item">
            The table should contain field id and name
          </li>
        </ul>
      </div>
    </label>

    <label for="chk-2">
      <input id="chk-2" type="checkbox" />
      <div class="title">
        <h3>Click on the table</h3>
      </div>
      <div class="content">
        <ul class="list-group">
          <li class="list-group-item">
            When I click on a user I want to see in an alert the age of that
            user and in what category of age that user is
          </li>
          <li class="list-group-item">
            You should not request the whole age database you should just get
            the value that you are need it
          </li>
        </ul>
      </div>
    </label>
  </div>
</div>
